@model AcunMedyaHospitalProject.Entities.Appointment
@{
    ViewBag.Title = "UpdateAppointment";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Randevu Güncelle</h2>
<form action="@Url.Action("UpdateAppointment", "Appointment")" method="post">
     <!-- CSRF koruması için ekleyin -->
     <!-- Randevu ID'sini gizli alan olarak ekleyin -->
    <div class="row">
        <div class="col-xl-6 mb-3">
            <label for="datePicker">Tarih Seçin</label>
            <input type="datetime-local" id="datePicker" name="Date" value="@Model.Date.ToString("yyyy-MM-ddTHH:mm")" class="form-control" placeholder="Tarih Seçin">
        </div>
        <div class="col-xl-6 mb-3">
            <label for="timePicker">Saat</label>
            <input type="time" id="timePicker" name="Time" value="@Model.Time.ToString(@"hh\:mm")" class="form-control" placeholder="Saat">
        </div>
        <div class="col-xl-6 mb-3">
            <label for="department-select">Bölüm Seçin</label>
            @Html.DropDownList("DepartmentId", (SelectList)TempData["Departments"], "Bölüm Seçin", new { @class = "nice-select form-select wide", @id = "department-select" })
        </div>
        <div class="col-xl-6 mb-3">
            <label for="doctor-select">Doktor Seçin</label>
            @Html.DropDownList("DoctorId", (SelectList)TempData["Doctors"], "Doktor Seçin", new { @class = "nice-select form-select wide", @id = "doctor-select" })
        </div>
        <div class="col-xl-6 mb-3">
            <label for="patientFirstName">Hasta Adı</label>
            <input type="text" id="patientFirstName" name="PatientFirstName" value="@Model.PatientFirstName" class="form-control" placeholder="Hasta Adı">
        </div>
        <div class="col-xl-6 mb-3">
            <label for="patientLastName">Hasta Soyadı</label>
            <input type="text" id="patientLastName" name="PatientLastName" value="@Model.PatientLastName" class="form-control" placeholder="Hasta Soyadı">
        </div>
        <div class="col-xl-6 mb-3">
            <label for="patientPhone">Telefon</label>
            <input type="text" id="patientPhone" name="PatientPhone" value="@Model.PatientPhone" class="form-control" placeholder="Telefon">
        </div>
        <div class="col-xl-12 mb-3">
            <label for="patientEmail">Email</label>
            <input type="email" id="patientEmail" name="PatientEmail" value="@Model.PatientEmail" class="form-control" placeholder="Email">
        </div>
        <div class="col-xl-12">
            <button type="submit" class="boxed-btn3">Randevuyu güncelle</button>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#department-select').change(function () {
                var departmentId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetDoctorsByDepartment", "Appointment")',
                    type: 'GET',
                    data: { departmentId: departmentId },
                    success: function (data) {
                        var doctorSelect = $('#doctor-select');
                        doctorSelect.empty();
                        doctorSelect.append('<option data-display="Doctors">Doktor seçin</option>');
                        $.each(data, function (i, doctor) {
                            doctorSelect.append('<option value="' + doctor.Id + '">' + doctor.FullName + '</option>');
                        });
                    }
                });
            });
        });
    </script>
}
